.container {
    height: 20px;
    width: 15px;
    position: relative;
}
.top, 
.bottom {
    background: black;
    height: 1px;
    position: absolute;
    top: 10px;
    width: 10px;
}
.top {
    top: 10px;
}
.top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}