.menu {
    display: grid;
    padding: 0;
}

.list{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    z-index: 2;
    width: 60%;
    margin: 0;
    padding: 0;
}

.list li{
    margin: 0;
}

.navLink{
    text-decoration: none;
}

@media (max-width: 1200px){ 
    .menu {
        display: grid;
        padding: 0;
    }  
    .list{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        align-items: center;
        z-index: 2;
        width: 70%;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 992px){ 
    .menu {
        display: grid;
        padding: 0;
    }  
    .list{display: grid;
        grid-template-columns: repeat(4, 25%);
        align-items: center;
        z-index: 2;
        margin: 0;
        padding: 0;
        width: 95%;
    }
}

@media (max-width: 767px){   
    .menu{
        grid-template-columns: repeat(2, 50%);
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #01273a;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        z-index: 3;
    }

    .active{
        grid-template-columns: repeat(2, 50%);
        position: fixed;
        top: 80px;
        left: 0;
        background-color: #01273a;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        z-index: 0;
        border-top: 1px solid white;
        padding-top: 25px;
        width: 100%;
    }

    .list{
        display: block;
    }
    .list li {
        margin-bottom: 20px;
    }
}

@media (max-width: 599px){   
    .menu{
        grid-template-columns: repeat(2, 50%);
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #01273a;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        z-index: 3;
    }

    .active{
        grid-template-columns: repeat(2, 50%);
        position: fixed;
        width: 100%;
        top: 80px;
        left: 0;
        background-color: #01273a;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        z-index: 0;
        border-top: 1px solid white;
        padding-top: 25px;
    }

    .list{
        display: block;
    }
    .list li {
        margin-bottom: 20px;
    }
}

@media (max-width: 479px){   
    .menu{
        grid-template-columns: repeat(2, 50%);
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #01273a;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        z-index: 3;
    }

    .active{
        grid-template-columns: repeat(2, 50%);
        position: fixed;
        width: 100%;
        top: 80px;
        left: 0;
        background-color: #01273a;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        z-index: 0;
        border-top: 1px solid white;
        padding-top: 25px;
    }

    .list{
        display: block;
    }
    .list li {
        margin-bottom: 20px;
    }
}